// Site specific
coolBlue = #44b7ec
tangerine = #ffae00

// Hunter X Hunter Specifics
enhancement = #f9bb43
emission = #9cd1ec
transmutation = #1dd4db
conjuration = #fcfc37
manipulation = #842aa9
specialization = #de64e6

body
    font-family "Open Sans", sans-serif

h1, h2, h3, h4, h5, h6
	padding 0
	margin 0

a, a:link, a:visited, a:hover, a:active
    color #555
    text-decoration none

header a,
header a:link,
header a:visited,
header a:hover,
header a:active
	color #eee
	text-decoration none

.htr-main-heading
	color #eee
	padding 10px 20px

.htr-nav-list li
	float left
	display inline
	margin-right 20px
	font-size 20px

.no-style,
.htr-hunter-list
	list-style none

.htr-hunter-list li
	float left
	display inline
	list-style-type none

.htr-hunter-card
	margin 20px
	width 120px
	height 120px

.htr-hunter-card img
	border-radius 60px
	perspective 700
	transition all 0.8s ease

.htr-hunter-card img:hover
	opacity 0.8
	border 2px groove blue
	transform rotateY(360deg)

.htr-hunter-card span
	display block
	text-align center

.htr-nen-list
	list-style none

.htr-hunter-card.ng-enter,
.htr-hunter-card.ng-move
	transition 0.8s linear all

.content-only
    margin 0
    padding 0

.add-token
    margin 20px
    width 120px
    height 120px
    display inline-block

.add-token i
    position relative
    color green
    top 20px
    left 30px
    padding 0
    margin 0 auto
    font-size 80px

.profile
    margin 50px

.profile-image
    float left
    margin-right 40px

.profile-heading
    font-size 5em
    font-family Impact
    text-shadow #eee 5px 0.1em

.background
    float left
    width 500px
    font-style italic
    margin-right 50px

.bio
    margin-top 20px
    font-size 1.3em
    font-family "Open Sans"

.abilities
    float right
    margin-top 10px

.ab-list
    font-size 1.3em

.sub-heading
    padding-bottom 5px
    margin-bottom 10px
    border-bottom 3px solid #34a433

.edit-hunter
    float right
    width 150px
    padding 15px
    border-radius 15px
    color white
    background tangerine

.abList
    list-style none
    margin-top 5%

.abList li
    padding-left 5px
    margin-left 15%
    margin-bottom 15px
    border-left 3px solid red
