// Site specific
coolBlue = #44b7ec
tangerine = #ffae00

// Hunter X Hunter Specifics
enhancement = #f9bb43
emission = #9cd1ec
transmutation = #1dd4db
conjuration = #fcfc37
manipulation = #842aa9
specialization = #de64e6

h1, h2, h3, h4, h5, h6
	padding 0
	margin 0

header
	height 70px
	background #555

header h1
	display inline

header a,
header a:link,
header a:visited,
header a:hover,
header a:active
	color #eee
	text-decoration none
	
footer
	clear both
	color #eee
	background #555
	text-align center
	
.htr-main-heading
	padding 10px 20px
	color #eee
	
.htr-nav-list
	padding 0
	margin 0
	list-style none

.htr-nav-list li
	float left
	display inline
	margin-right 20px
	font-size 20px
	
.htr-hunter-list
	list-style none

.htr-hunter-list li
	list-style-type none
	display inline	
	float left

.htr-hunter-card
	margin 20px
	width 120px
	height 120px

.htr-hunter-card img
	border-radius 60px
	perspective 700
	transition all 0.6s ease

.htr-hunter-card img:hover
	opacity 0.6
	border 3px groove red
	transform rotateY(180deg)

.htr-hunter-card span
	display block
	text-align center

.htr-nen-list
	list-style none
	
.htr-nen-list li
	display inline
	float left
	width 120px
	height 120px
	border-radius 75px
	border 1px solid black
	text-align center
	margin-right 20px
	
.htr-abilities
	margin 0
	padding 0
	list-style none
	
.htr-abilities li
	margin 0
	padding 10px 0
	list-style-type none
	
.htr-nen-type
	margin 0 auto	
	
.htr-nen
	position relative
	top 50px

.panel.panel-default 
	margin-top 20px
	
.htr-hunter-card.ng-enter,
.htr-hunter-card.ng-move
	transition 0.5s linear all
