// Site specific
coolBlue = #44b7ec
tangerine = #ffae00

// Hunter X Hunter Specifics
enhancement = #f9bb43
emission = #9cd1ec
transmutation = #1dd4db
conjuration = #fcfc37
manipulation = #842aa9
specialization = #de64e6

body
    font-family "Open Sans", sans-serif

h1, h2, h3, h4, h5, h6
	padding 0
	margin 0

a, a:link, a:visited, a:hover, a:active
    color #555
    text-decoration none

header a,
header a:link,
header a:visited,
header a:hover,
header a:active
	color #eee
	text-decoration none

.htr-main-heading
	color #eee
	padding 10px 20px
	
.htr-nav-list li
	float left
	display inline
	margin-right 20px
	font-size 20px
	
.htr-hunter-list
	list-style none

.htr-hunter-list li
	list-style-type none
	display inline	
	float left

.htr-hunter-card
	margin 20px
	width 120px
	height 120px

.htr-hunter-card img
	border-radius 60px
	perspective 700
	transition all 0.6s ease

.htr-hunter-card img:hover
	opacity 0.6
	border 3px groove red
	transform rotateY(180deg)

.htr-hunter-card span
	display block
	text-align center

.htr-nen-list
	list-style none
	
.htr-hunter-card.ng-enter,
.htr-hunter-card.ng-move
	transition 0.5s linear all

.content-only
    margin 0
    padding 0

.add-token
    margin 20px
    width 120px
    height 120px
    display inline-block

.add-token i
    position relative
    color green
    top 20px
    left 30px
    padding 0
    margin 0 auto
    font-size 80px

.profile    
    margin 50px

.profile-image
    float left
    margin-right 40px

.profile-heading
    font-size 5em
    font-family Impact
    text-shadow #eee 5px 0.1em

.profile-details
    float left

.background
    float left
    width 540px
    font-style italic
    margin-right 50px

.bio
    margin-top 20px
    font-size 1.5em
    font-family "Open Sans" 
