<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">{{ vm.hunter.name.first }} {{ vm.hunter.name.last }}</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3">
					<img ng-src="images/thumbnail/{{ vm.hunter.name.first }}.png" alt="">
					<div>
						<strong>Name:</strong>
						<span>{{ vm.hunter.name.first }} {{ vm.hunter.name.last }}</span>
						<br />
						<strong>Aage:</strong>
						<span>{{ vm.hunter.age }}</span>
						<br />
						<strong>Gender:</strong>
						<span>{{ vm.hunter.gender }}</span>
						<br />
						<strong>Occupation:</strong>
						<span>{{ vm.hunter.occupation[0] }}</span>
					</div>
				</div>
				<div class="col-md-5">
					<h4>Background</h4>
					<br />
					<p>{{ vm.hunter.bio }}</p>
				</div>
				<div class="col-md-4">
					<h4>Abilities</h4>
					<br />
					<ul class="htr-abilities">
						<li data-ng-repeat="ab in vm.hunter.abilities">{{ ab }}</li>
					</ul>
				</div>
			</div>
			<div class="row col-md-offset-1">
				<div class="htr-nen-type">
					<ul class="htr-nen-list">
						<li data-ng-repeat="nen in vm.nenTypes">
							<p class="htr-nen">{{ nen }}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>